<html>
    <head>
        <!-- <script type='text/javascript' src='scripts.js'></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>




    </head>
    <!-- <script type='text/javascript' src='scripts.js'></script> -->

<body onload="">
<button type="submit" id='home' onclick="window.location='/'">Home</button>
<a href="/api/a" onClick="window.location.reload(true);return true;">Reload</a>
<button type="submit" id="load">Load</button>
<canvas id="canvas"></canvas>
<button type="submit" id='SubmitJ' onclick="">Submit</button>

</body>





<script>
var canvas = document.getElementById('canvas');
var ctx = canvas.getContext('2d');
var rect = {};
var drag = false;
var img = null;
var cord =[];
var startx =[];
var starty =[];
var w =[];
var h =[];
var keys =[];
	
init();

function init() {
    img = new Image();
	
//image source link for the iImage object
    img.src = '/api/a';
    img.onload = function () {

// set canvas size to 70% of original image
    canvas.height = img.height * 0.70
    canvas.width = img.width * 0.70
   

    ctx.drawImage(img, 0,0,img.width ,img.height, 0 ,0, canvas.width,canvas.height)
};
    
    canvas.addEventListener('mousedown', mouseDown, false);
    canvas.addEventListener('mouseup', mouseUp, false);
    canvas.addEventListener('mousemove', mouseMove, false);
}



function mouseDown(e) {
    rect.startX = e.pageX - this.offsetLeft;
    rect.startY = e.pageY - this.offsetTop;
    drag = true;
}

function mouseUp() { 
    drag = false;
    
    myFunction()
     }

function mouseMove(e) {
    if (drag) {
        
        
        canvas.height = img.height * 0.70
        canvas.width = img.width * 0.70
    
        ctx.drawImage(img, 0,0,img.width,img.height, 0 ,0, canvas.width,canvas.height)

        rect.w = (e.pageX - this.offsetLeft) - rect.startX;
        rect.h = (e.pageY - this.offsetTop) - rect.startY;
        ctx.strokeStyle = 'red';
        ctx.strokeRect(rect.startX, rect.startY, rect.w, rect.h);
        
        
    
    }

    

}




function myFunction() {
   var Key = prompt("Tag:", "");

   cord = {};
   console.log(Key);
//    console.log(rect);
   startx.push(rect.startX);
   starty.push(rect.startY);
   w.push(rect.w);
   h.push(rect.h);
   keys.push(Key);

   cord = {keys,startx,starty,w,h};
   console.log(cord);
   console.log(document.cookie)

}



// function parsej() {
// 	// ajax the JSON to the server
// 	$.post( "/postmethod", {
//     jdata: cars
// });
// 	// stop link reloading the page
//  event.preventDefault();
// }

$('#SubmitJ').click(function() {

        console.log(cord);
        $.ajax({
          type: "POST",
          contentType: "application/json;charset=utf-8",
          url: "/postmethod",
          traditional: "true",
          data: JSON.stringify({cord}),
          dataType: "json"
          });
        

    });

$('#SubmitJ').click(function() {

delete img;


});












</script>

</html>
