
<html>
    <head>
        <!-- <script type='text/javascript' src='scripts.js'></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>



    </head>
    <!-- <script type='text/javascript' src='scripts.js'></script> -->
<div id = 'fileform'>
    <form method="post" enctype="multipart/form-data" action="/draw">
        Image File:
         <br>
        <input type="file" name="img-file" class="bg-warning" style="padding:10px">
        <br>
        <br>
        <h4>Or</h4>
        <br>
        <br>
        Pdf File:
        <br>
        <input type="file" name="pdf-file" class="bg-warning" style="padding:10px">

        <br><br>
    
        <!-- Pdf:
        <br>
        <input type="file" name="pdf-file" class="bg-warning" style="padding:10px">
     -->
        <h6 class="text-success">{{ msg_name }}</h6>
        <br><br>
        <input type="submit" name="submit" value="UPLOAD" class="btn btn-outline-warning">
    </form>
</div>


</html>
